:root {
    color-scheme: {
            {
            .colorScheme
        }
    }
}

body {
    margin: 32px;
}

[type=text],
[type=password] {
    display: block;
    margin: 14px 0;
    height: 28px;
}